/* Doodah Default Stylesheet */

* {
    margin:0;
    padding:0;
}
.debug {
	border:#ff0000 thin dotted;
    color:#ff0000;
    background-color:#ffffff;
}

/* SYSTEM DEBUGGER - NOT USED IN PRODUCTION */
#debugger {
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:200px;
    background-color:#e6e6fa;
    font-size:8pt;
    padding:5px;
}

#skin.samples/test {
  background-color:#ff0000;
}
#"skin.samples/sample image" {
  background-color:#ff0000;
}

/*
 * HTML 404 Error
 *
 */
#html404 {
    background:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-weight:bold;
    color:#ff0000;
}

.error {
    /*
    border:#ff0000 thin solid;
    color:#ff0000;
    text-align:center;
    */
}
.skin.error .meter {
    background-color:#ff0000;
    border:none;
    text-align:center;
    color:#ffffff;
    padding:3px;
}
.hidden{
    visibility: hidden;
}
.skin {
	border:#ff0000 thin dotted;
    display:inline-block;
	position:fixed;
}
.dynamicwindowsize0 {
    overflow:hidden;
}
/* POPUP SUPPORT FOR METERS */
.meter .popup {
  display: none;
}

.meter:hover .popup {
  position:absolute;
  top:0;
  left:0;
  background-color:#ffff00;
  display: block;
  overflow:auto;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.skin .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.skin:hover .tooltiptext {
  visibility: visible;
}

/* STANDARD METER STYLES */
.meter {
	border:#00ff00 thin dotted;
    position:absolute;
	/*overflow:auto;*/
	display:inline-block;
	
}
.meterString, .metererror, .meterimage {
    /* Remove gap below element */
	vertical-align:top;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

